<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_b5c510370a4b491296593ec1881d6b21 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b5c510370a4b491296593ec1881d6b21" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_b5c510370a4b491296593ec1881d6b21 = L.map(
                                  'map_b5c510370a4b491296593ec1881d6b21',
                                  {center: [51.3396955,12.3730747],
                                  zoom: 5,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_778437e6543e406baeca75e6a896e461 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_b5c510370a4b491296593ec1881d6b21);
        
    

            var marker_5cfdbdaa48944a46ad24821a11c8e3fa = L.marker(
                [51.3396955,12.3730747],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b5c510370a4b491296593ec1881d6b21);
            
    

                var icon_9dbe4e9e2b8b44308394eb0637c1596d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5cfdbdaa48944a46ad24821a11c8e3fa.setIcon(icon_9dbe4e9e2b8b44308394eb0637c1596d);
            
    
            var popup_d80bb3d8bba74689a008270e35b1a419 = L.popup({maxWidth: '300'});

            
                var html_f8258a813ea945d9858bb5071c989079 = $('<div id="html_f8258a813ea945d9858bb5071c989079" style="width: 100.0%; height: 100.0%;">Leipzig, Germany</div>')[0];
                popup_d80bb3d8bba74689a008270e35b1a419.setContent(html_f8258a813ea945d9858bb5071c989079);
            

            marker_5cfdbdaa48944a46ad24821a11c8e3fa.bindPopup(popup_d80bb3d8bba74689a008270e35b1a419);

            
        
    

            var marker_61b69e14317e4de2aa8471687bcf3f3a = L.marker(
                [50.87036908,12.07000199],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b5c510370a4b491296593ec1881d6b21);
            
    

                var icon_5ac6b733139e4750bbbbef8cab20eae3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_61b69e14317e4de2aa8471687bcf3f3a.setIcon(icon_5ac6b733139e4750bbbbef8cab20eae3);
            
    
            var popup_2a239c94d20e4d15977c6fcf35fd73fb = L.popup({maxWidth: '300'});

            
                var html_32b42c6f9d544eb8b27dde22fd35ea7b = $('<div id="html_32b42c6f9d544eb8b27dde22fd35ea7b" style="width: 100.0%; height: 100.0%;">Gera</div>')[0];
                popup_2a239c94d20e4d15977c6fcf35fd73fb.setContent(html_32b42c6f9d544eb8b27dde22fd35ea7b);
            

            marker_61b69e14317e4de2aa8471687bcf3f3a.bindPopup(popup_2a239c94d20e4d15977c6fcf35fd73fb);

            
        
    
                var poly_line_d2841418326444c0b5c1805d57b97af9 = L.polyline(
                    [[51.3396955, 12.3730747], [50.87036908, 12.07000199]],
                    {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "green",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}).addTo(map_b5c510370a4b491296593ec1881d6b21);
            
    
            var popup_2ee65c103dcd4e399372054a812f0f83 = L.popup({maxWidth: '300'});

            
                var html_c50a0c7c03164e6597af5c1d2b8a9fb7 = $('<div id="html_c50a0c7c03164e6597af5c1d2b8a9fb7" style="width: 100.0%; height: 100.0%;">56.31332385139527 km</div>')[0];
                popup_2ee65c103dcd4e399372054a812f0f83.setContent(html_c50a0c7c03164e6597af5c1d2b8a9fb7);
            

            poly_line_d2841418326444c0b5c1805d57b97af9.bindPopup(popup_2ee65c103dcd4e399372054a812f0f83);

            
        
</script>