<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_71d2e85fdc1b4ed89bd5ea36311f4cb4 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_71d2e85fdc1b4ed89bd5ea36311f4cb4" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_71d2e85fdc1b4ed89bd5ea36311f4cb4 = L.map(
                                  'map_71d2e85fdc1b4ed89bd5ea36311f4cb4',
                                  {center: [49.839683,24.029717],
                                  zoom: 5,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_ed49f66f507e4bb082fde555ffee9d74 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_71d2e85fdc1b4ed89bd5ea36311f4cb4);
        
    

            var marker_bca9d5ebb89e4532aacd049d39997487 = L.marker(
                [49.839683,24.029717],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_71d2e85fdc1b4ed89bd5ea36311f4cb4);
            
    

                var icon_c67497685c5b4d23a591dcaac4c5f85f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bca9d5ebb89e4532aacd049d39997487.setIcon(icon_c67497685c5b4d23a591dcaac4c5f85f);
            
    
            var popup_9a0815422dbf4c3292023f4d2dd3926c = L.popup({maxWidth: '300'});

            
                var html_163cc8e163284d97bd67f4dc27ac21c4 = $('<div id="html_163cc8e163284d97bd67f4dc27ac21c4" style="width: 100.0%; height: 100.0%;">Lviv, Ukraine</div>')[0];
                popup_9a0815422dbf4c3292023f4d2dd3926c.setContent(html_163cc8e163284d97bd67f4dc27ac21c4);
            

            marker_bca9d5ebb89e4532aacd049d39997487.bindPopup(popup_9a0815422dbf4c3292023f4d2dd3926c);

            
        
    

            var marker_40eb896f249a410cbc841e06db96c380 = L.marker(
                [52.12786338,26.09405554],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_71d2e85fdc1b4ed89bd5ea36311f4cb4);
            
    

                var icon_ceb24b07bd0a49a99f7dc49289153bc8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_40eb896f249a410cbc841e06db96c380.setIcon(icon_ceb24b07bd0a49a99f7dc49289153bc8);
            
    
            var popup_98d9eed40640425dbf8a5dde2e1aadcb = L.popup({maxWidth: '300'});

            
                var html_96f6eea4c8d84c2eaab7ed0fb7196483 = $('<div id="html_96f6eea4c8d84c2eaab7ed0fb7196483" style="width: 100.0%; height: 100.0%;">Pinsk</div>')[0];
                popup_98d9eed40640425dbf8a5dde2e1aadcb.setContent(html_96f6eea4c8d84c2eaab7ed0fb7196483);
            

            marker_40eb896f249a410cbc841e06db96c380.bindPopup(popup_98d9eed40640425dbf8a5dde2e1aadcb);

            
        
    
                var poly_line_b1de6b17b6294ba1be029d729db86e1a = L.polyline(
                    [[49.839683, 24.029717], [52.12786338, 26.09405554]],
                    {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "green",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 5
}).addTo(map_71d2e85fdc1b4ed89bd5ea36311f4cb4);
            
    
            var popup_4b1922284dca4cf88aa234dc8c8fa1c2 = L.popup({maxWidth: '300'});

            
                var html_aa02f16f081a4f938b1e9a2f3625e953 = $('<div id="html_aa02f16f081a4f938b1e9a2f3625e953" style="width: 100.0%; height: 100.0%;">292.57853394875195 km</div>')[0];
                popup_4b1922284dca4cf88aa234dc8c8fa1c2.setContent(html_aa02f16f081a4f938b1e9a2f3625e953);
            

            poly_line_b1de6b17b6294ba1be029d729db86e1a.bindPopup(popup_4b1922284dca4cf88aa234dc8c8fa1c2);

            
        
</script>